/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 versions
*/

:root {
    --color-page: #F0CCCC;
    --color-text: #0C0604;
    --color-wrapper: #FFFFFF;
    --color-block: #FCE9E1;
    --color-border: #EAAF97;
    --color-link: #7030F0;
    --color-link-2: #3B1980;
    --color-link-active: #E1595B;
    --fonts: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

.dark-mode {
    --color-page: #241E1E;
    --color-text: #F0F0F0;
    --color-wrapper: #242424;
    --color-block: #302C2B;
    --color-border: #EAAF97;
    --color-link: #F992F1;
    --color-link-2: #FFFFFE;
    --color-link-active: #E1595B;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    color: var(--color-text);
    font-family: var(--fonts);
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    font-weight: 400;
}

p {
    font-weight: 500;
}

nav {
    background-color: var(--color-block);
    border-bottom: 1px solid var(--color-border);
    height: 3.75rem;
    width: 100%;
    z-index: 2;

    position: fixed;
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

nav li {
    display: inline-block;
}

.left-nav, .right-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.left-nav, .right-nav {
    height: inherit;
    width: 50%;
}

.left-nav {
    padding-left: 2rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.logo {
    position: relative;
    top: -1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.logo img {
    height: 48px;
    width: auto;
}

.right-nav {
    padding-right: 2rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.icon-item, .footer-item, #themes-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.icon-item {
    font-size: inherit;
    font-weight: 500;
    padding: 0.5rem 1rem;
    z-index: 1;
}

.icon-item img, .icon-item object {
    height: 32px;
    margin-right: 16px;
}

.icon-item svg {
    margin-right: 16px;
}

#themes-button {
    color: #E76141;
    padding: 0 1rem;
}

#themes-button.loaded {
    cursor: pointer;
}

#themes-button.loaded:active {
    color: var(--color-wrapper);
}

.dropdown {
    background-color: var(--color-block);
    height: calc(100% - 3.75rem);
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    overflow: auto;
    width: 15%;

    position: fixed;
    top: 3.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.dropdown-left {
    left: 0;
}

.dropdown-right {
    right: 0;
}

.dropdown-item {
    background-color: var(--color-block);
    color: var(--color-text);
    cursor: pointer;
    font-family: var(--fonts);
    font-size: 1.5rem;
    font-weight: 500;
    height: 15vh;
    padding: 1rem;
    text-align: center;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.dropdown-item:hover {
    background-color: var(--color-wrapper);
    color: var(--color-text);
    font-family: var(--fonts);
}

.page {
    background-color: var(--color-page);
    min-height: 100vh;
    padding-top: 3.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.wrapper {
    background-color: var(--color-wrapper);
    margin: 0 auto;
    width: 70%;
    padding: 2rem 1.5rem 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.profile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.article-wrapper {
    margin-left: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

section, article, .skill {
    margin-bottom: 1rem;
}

.profiles, .page-links {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

a {
    text-decoration: none;
}

a[href].icon-item {
    color: var(--color-link);
    cursor: pointer;
}

a[href].icon-item:hover {
    text-shadow: 0 0 2px var(--color-link);
}

a[href].icon-item:active {
    color: var(--color-link-active);
}

.skills-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

footer {
    background-color: var(--color-wrapper);
    min-height: 11.25rem;
    padding: 0 4rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 10rem;
            flex: 1 0 10rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.license-box {
    border-top: 1px solid var(--color-border);
    padding: 2rem 0 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .logo img {
        height: 56px;
    }

    .dropdown {
        width: 30%;
    }

    .wrapper {
        max-width: 70em;
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .profile-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    img.avatar {
        width: 192px;
    }

    .user-box {
        margin-left: 2rem;
    }

    .article-wrapper {
        margin-left: 0;
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 767px) {
    html, body {
        font-size: 14px;
    }

    nav {
        height: 5rem;
    }

    .logo img {
        height: 56px;
    }

    .dropdown {
        width: 30%;

        top: 5rem;
    }

    .page {
        padding-top: 5rem;
    }

    .wrapper {
        width: 100%;

        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    img.avatar {
        width: 128px;
    }

    .article-wrapper {
        margin-left: 0;
        margin-top: 2rem;
    }
}

@supports ((min-width: -webkit-min-content) or (min-width: -moz-min-content) or (min-width: min-content)) {
    .dropdown {
        min-width: -webkit-min-content;
        min-width: -moz-min-content;
        min-width: min-content;
    }
}