:root {
    --color-page: #F0CCCC;
    --color-text: #0C0604;
    --color-wrapper: #FFFFFF;
    --color-block: #FCE9E1;
    --color-border: #EAAF97;
    --color-link: #7030F0;
    --color-link-2-alpha: #3B198080;
    --color-link-active: #E1595B;
    --fonts: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

.dark-mode {
    --color-page: #241E1E;
    --color-text: #F0F0F0;
    --color-wrapper: #242424;
    --color-block: #302C2B;
    --color-border: #EAAF97;
    --color-link: #F992F1;
    --color-link-2-alpha: #FFFFFE80;
    --color-link-active: #E1595B;
}

*, :after, :before {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
}

body {
    color: var(--color-text);
    font-family: var(--fonts);
    line-height: 1.5;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    font-weight: 400;
}

p {
    font-weight: 500;
}

nav {
    background-color: var(--color-block);
    border-bottom: 1px solid var(--color-border);
    height: 3.75rem;
    width: 100%;
    z-index: 2;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
}

nav li {
    display: inline-block;
}

.left-nav, .right-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left-nav, .right-nav {
    height: inherit;
    width: 50%;
}

.left-nav {
    padding-left: 2rem;

    justify-content: flex-start;
}

.logo {
    position: relative;
    top: -1px;

    display: flex;
    align-self: flex-end;
}

.logo img {
    height: 48px;
}

.right-nav {
    padding-right: 2rem;

    justify-content: flex-end;
}

.icon-item, .footer-item, #themes-button {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.icon-item {
    font-size: inherit;
    font-weight: 500;
    padding: 0.5rem 1rem;
    z-index: 1;
}

.icon-item img, .icon-item object {
    height: 32px;
    margin-right: 16px;
}

.icon-item svg {
    margin-right: 16px;
}

#themes-button {
    color: #E76141;
    padding: 0 1rem;
}

#themes-button.loaded {
    cursor: pointer;
}

#themes-button.loaded:active {
    color: var(--color-wrapper);
}

.dropdown {
    background-color: var(--color-block);
    height: calc(100% - 3.75rem);
    min-width: fit-content;
    overflow: auto;
    width: 15%;

    position: fixed;
    top: 3.75rem;

    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.dropdown-left {
    left: 0;
}

.dropdown-right {
    right: 0;
}

.dropdown-item {
    background-color: var(--color-block);
    color: var(--color-text);
    cursor: pointer;
    font-family: var(--fonts);
    font-size: 1.5rem;
    font-weight: 500;
    height: 15vh;
    padding: 1rem;
    text-align: center;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-item:hover {
    background-color: var(--color-wrapper);
    color: var(--color-text);
    font-family: var(--fonts);
}

.page {
    background-color: var(--color-page);
    min-height: 100vh;
    padding-top: 3.75rem;

    display: flex;
    flex-direction: column;
}

.wrapper {
    background-color: var(--color-wrapper);
    margin: 0 auto;
    width: 70%;
    padding: 2rem 1.5rem 4rem;

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}

.profile-wrapper {
    display: flex;
    flex-direction: column;
}

.article-wrapper {
    padding-left: 2rem;

    display: flex;
    flex-direction: column;
}

.profiles, .page-links {
    max-width: fit-content;

    display: flex;
    align-items: stretch;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a[href].icon-item {
    color: var(--color-link);
    cursor: pointer;
}

a[href].icon-item:hover {
    text-shadow: 0 0 1px var(--color-link-2-alpha);
}

a[href].icon-item:active {
    color: var(--color-link-active);
}

.skills-box {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
}

footer {
    background-color: var(--color-wrapper);
    min-height: 11.25rem;
    padding: 0 4rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-item {
    flex: 1 0 10rem;
    justify-content: center;
}

.license-box {
    border-top: 1px solid var(--color-border);
    padding: 2rem 0 2.5rem;

    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    html, body {
        font-size: 14px;
    }

    nav {
        height: 5rem;
    }

    .dropdown {
        width: 30%;

        top: 5rem;
    }

    .page {
        padding-top: 5rem;
    }

    .wrapper {
        max-width: 70em;
        width: 100%;

        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .profile-wrapper {
        flex-direction: row;
    }

    img.avatar {
        width: 192px;
    }

    .user-box {
        padding-left: 2rem;
    }

    .article-wrapper {
        padding-left: 0;
        padding-top: 2rem;
    }
}

@media only screen and (max-width: 767px) {
    html, body {
        font-size: 12px;
    }

    nav {
        height: 5rem;
    }

    .dropdown {
        width: 30%;

        top: 5rem;
    }

    .page {
        padding-top: 5rem;
    }

    .wrapper {
        width: 100%;

        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    img.avatar {
        width: 128px;
    }

    .article-wrapper {
        padding-left: 0;
        padding-top: 2rem;
    }
}

@supports (height: min-content) {
	.dropdown {
		min-width: min-content;
	}
}
