.theme-maki {
    --color-page: #F0CCCC;
    --color-text: #0C0604;
    --color-wrapper: #FFFFFF;
    --color-block: #FCE9E1;
    --color-border: #EAAF97;
    --color-link: #7030F0;
    --color-link-2-alpha: #3B198080;
    --color-link-active: #E1595B;
    --fonts: "Maven Pro", sans-serif;
}

.theme-dark {
    --color-page: #241E1E;
    --color-text: #F0F0F0;
    --color-wrapper: #242424;
    --color-block: #302C2B;
    --color-border: #EAAF97;
    --color-link: #F992F1;
    --color-link-2-alpha: #FFFFFE80;
    --color-link-active: #E1595B;
    --fonts: "Maven Pro", sans-serif;
}

.theme-dracula {
    --color-page: #6272A4;
    --color-text: #F8F8F2;
    --color-wrapper: #282A36;
    --color-block: #44475A;
    --color-border: #FFB86C;
    --color-link: #FF79C6;
    --color-link-2-alpha: #8BE9FD80;
    --color-link-active: #FF5555;
    --fonts: "Consolas", "Courier New", monospace;
}
