/*
* theme variables replace the default light and dark values
* if a theme variable is not specified, the default value will be used
*/
.theme-maki {
    --color-block: #FFDEDE;
    --color-border: #F0BBBB;
    --color-link: #8800F0;
    /* --color-link-active: #E1595B; */
    --color-page: #F0CCCC;
    --color-text: #0C0404;
    --color-wrapper: #FFFFFF;
    /* --fonts: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Arial", "Helvetica Neue", "Helvetica", sans-serif; */
}
.theme-dark {
    --color-block: #302323;
    --color-border: #423030;
    --color-link: #BD66FF;
    --color-page: #241E1E;
    --color-text: #FFFFFF;
    --color-wrapper: #242424;
}
.theme-yousolo {
    --color-block: #FFCBDE;
    --color-border: #CCCCCC;
    --color-link: #0077AC;
    --color-link-active: #0085C0;
    --color-page: #FFCBDE;
    --color-text: #0F0008;
    --color-wrapper: #FFFFFF;
    --fonts: "Noto Sans", -apple-system, BlinkMacSystemFont, "Century Gothic", "YuGothic", "Meiryo", "Helvetica Neue", "Arial", sans-serif;
}
.theme-dracula {
    --color-block: #44475A;
    --color-border: #FFB86C;
    --color-link: #FF79C6;
    --color-link-active: #FF5555;
    --color-page: #44475A;
    --color-text: #F8F8F2;
    --color-wrapper: #282A36;
    --fonts: "Consolas", "Courier New", monospace;
}
